{% extends 'layout.html.twig' %}
{% block body %}
<form action="" method="post">
    <label for="">Code Barre</label>
    <input type="text" name="serch" placeholder="code barre">
</form>
{% endblock %}

