{# TODO : manage errors display #}
<form action="" method="POST">
    <input type="hidden" name="id" value="{{ product.id }}">
    <input type="text" value="{{ product.name }}" name="name">
	<label for="name">name</label>
	<input type="text" value="{{ product.DateExpiration }}" name="DateExpiration">
	<label for="DateExpiration">date</label>
	<button type="submit">Submit</button>
</form>