{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="img-responsive">   
            </div>
        </div>
    </div>
    <a href="/products/addproduct" class="btn btn-primary">Add Product</a>
{% endblock %}