.pill {
    width: 25rem;
    letter-spacing: 2px;
    margin: auto;
}
.card-title {
    text-transform: uppercase;

    margin: 2rem;
}
.card-text {
    padding: 1rem;
    width: 100%;
}
.retourmenu {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.retourmenu a {
    margin-right: 3rem;
}

.btn {
    padding: 1rem;
    width: 9rem;
}
