* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #808080;
}
.input-group > .form-control,
.input-group > .form-select {
    border-radius: 20px;
    color: black;
}
.btn-outline-secondary {
    border-top-right-radius: 20px;
    background-color: #ececec;
    border-bottom-right-radius: 20px;
    height: 50px;
}
.input-group {
    width: 30%;
    color: #ececec;
    border-radius: 20px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}
.titre {
    text-align: center;
    width: 30%;
    border-radius: 20px;
    background-color: #454545;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}
.ou {
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}
.bouton {
    width: 30%;
    border-radius: 10px;
    height: 60px;
    background-color: #f37063;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}
.fridge {
    width: 30%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
.scanner {
    margin-right: 2rem;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
#three {
    width: 7rem;
    display: flex;
    float: right;
    height: 5rem;
}
#fidg {
    width: 77px;
    height: 77px;
    border-radius: 100px;
    background-color: #5e5d5d;
}
#param {
    width: 77px;
    height: 77px;
    border-radius: 100px;
    background-color: #5e5d5d;
}
#ajouter {
    width: 77px;
    height: 77px;
    border-radius: 100px;
    background-color: #5e5d5d;
}
#stat {
    width: 77px;
    height: 77px;
    border-radius: 100px;
    background-color: #5e5d5d;
}
