{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/navbar.css">
{% endblock %}
<div class="pos">
  <nav id="navbar" class="navbar navbar-light bg-light">
  <h2>Mon Frigo</h2>
  <hr>
  </nav>
  
</div>